body {
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
}
.hide {
        display: none;
}
.red { background-color: red; }
.blue { background-color: blue; }
.green { background-color: green; }
.yellow { background-color: #FFAE00; }
.dark-back { background-color: #101010;}
.dark-back2 { background-color: #000; }
.clear {
    clear: both;
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

/* Form Validation */
.styled fieldset {border: 0px solid #ccc; padding: 10px;}
/*.styled fieldset legend {font-size: 14px; font-weight: bold; color: #000; text-transform: capitalize; padding: 5px 10px; background: #fff; display: block; margin-bottom: 0; border: 1px solid #ccc;}*/
.styled fieldset ol, .styled fieldset ol li {list-style: none;}
.styled fieldset li.form-row {margin-bottom: 3px; padding: 2px 0; width: 100%; overflow: hidden; position: relative;}
.styled label {font-size: 12px; display: block; font-weight: bold; float: left; width: 100%; margin-left: 5px; line-height: 24px; color:#BF1E2D; }
.styled input.text-input, .styled .text-area {background: #fefefe; border-top: 1px solid #909090; border-right: 1px solid #cecece; border-bottom: 1px solid #e1e1e1; border-left: 1px solid #bbb; padding: 3px; width: 220px; font-size: 12px;}
.styled input.text-input.default.active, .styled .text-area.default.active {color: #666666; font-style: italic;}
.styled fieldset li.button-row {margin-bottom: 0; padding: 2px 5px;}
/*form input.btn-submit {padding: 3px 7px; font-family: Arial, sans-serif; color: #000; font-weight: bold; border: 1px solid #000; background: #FFE220; font-size: 12px;}*/
.styled span.error {font-size: 11px; background: none; display: block; padding: 2px;}
.styled fieldset li.error {color: #D8000C;}
.styled fieldset li.error label {text-align: left;}
.success-message {
    background-color: rgba(0, 0, 0, 0.81);
    height: auto;
    left: 39%;
    margin: 0 auto;
    min-height: 200px;
    position: fixed;
    top: 35%;
    width: 400px;
    z-index: 1000;
}
.close-msg {
    border: 2px solid #ffae00;
    border-radius: 50%;
    color: #ffae00;
    cursor: pointer;
    font-size: 1.3em;
    padding: 2px 7px;
    position: absolute;
    right: 3%;
    top: 5%;
}

.success-message p {
    color: #ffae00;
    font-size: 1.7em;
    margin-top: 10%;
    text-align: center;
}
/* Specific Form Rules */

.success {border: 1px solid; margin: 0; padding: 10px; text-align: center; color: #4F8A10; background-color: #ebf6d9; border-color: #DFF2BF;}


/* form ends here */

a {
    color: inherit;
    text-decoration: none;
    outline: none;
    text-decoration: none;
}
.hide {
    display: none;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.full-width {
    width: 100%;
    height: auto;
}
.width-49p {
        width: 48.7%;
        height: auto;
}
.width-62p {
        width: 62%;
        height: auto;
}
.width-83p {
        width: 83%;
        height: auto;
}
.width-80p {
        width: 80%;
        height: auto;
}
.width-99p {
        width: 99%;
        height: auto;
}
.center-div {
    margin: 0 auto;
}
.height-100 {
    height: auto;
    min-height: 100px;
}
.height-150 {
    height: auto;
    min-height: 150px;
}
.height-200 {
    height: auto;
    min-height: 180px;
}
.height-300 {
    height: auto;
    min-height: 300px;
}
.height-350 {
    height: auto;
    min-height: 350px;
}
.height-400 {
    height: auto;
    min-height: 400px;
}
.back-to-top {
    position: fixed;
    width: 50px;
    height: 35px;
    bottom: 60px;
    background-color: rgba(255, 174, 0, 0.5);
    border-bottom: 5px solid #FFAE00;
    z-index: 99;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 59% auto;
    background-image: url(../images/go-top.png);
    cursor: pointer;
}
.container {
        width: 100%;
        margin: 0 auto;
        position: relative;
}
header {
    position: relative;
    z-index: 95;
    width: 960px;
    margin:0 auto;
}
.my-name {
    border-right: 2px solid #4a4a4a;
    margin: 20px;
}
.my-name h1 {
    font-size: 40px;
    color: #4a4a4a;
    font-weight: 300;
    padding: 0 20px 0 0;
    margin: 0;
    letter-spacing: 2px;
    line-height: 39px;
}
.my-profession h3 {
    font-size: 21px;
    color: #4a4a4a;
    font-weight: 300;
    padding: 0 20px 0 0;
    margin: 25px 0 0 0;
    letter-spacing: 2px;
}
.slide-menu {
    position: fixed;
    width: 960px;
	top: 0;
	z-index: 1000;
}
.plus-icon {
    width: 57px;
    height: 57px;
    margin-top: 10px;
    cursor: pointer;
    z-index: 12;
}
.plus-icon span {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    float: left;
    height: 30px;
    margin: 14px;
    width: 30px;
	overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
.plus-icon span:hover {
	transform: rotate(360deg);
}
.plus-sign {
    background-image: url(../images/plus.png);
}
.minus-sign {
    background-image: url(../images/minus.png);
}
.menu-items {
    width: 0%;
    right: 67px;
    background-color: #FFAE00;
    height: 56px;
    position: absolute;
    margin-top: 10px;
    display: none;
    z-index: 10;
}
.menu-items ul {
    padding: 0;
    margin: 0;
}
.menu-items ul li {
    float: left;
    list-style: none;
    position: relative;
}
.menu-items ul li a {
    float: left;
    list-style: none;
    display: block;
    padding: 17px 27px;
    transition: background-color 0.3s ease 0s;
    background-color: #FFAE00;
    color: #fff;
}
.menu-items ul li a:hover {
    background-color: #171717;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    width: 176%;
    padding: 20px;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu > li > a {
    float: left;
    list-style: none;
    display: block;
    padding: 10px 27px;
    transition: background-color 0.3s ease 0s;
    background-color: #FFAE00;
    color: #fff;
}
section {
    float: left;
    position: relative;
    width: 100%;
    min-height: 400px;
    height: auto;
}
section > div {
    position: relative;
    float: left;
    width: 100%;
    min-height: 200px;
    height: auto;
}
.banner {
    
}
.home {
    background-image: url(../images/yellow-wallpaper.jpg);
}
.home h1 {
    text-align: center;
    color: #2a2a2a;
    font-size: 43px;
    margin: 40px auto 0;
    font-weight: 300;
}
.home h5 {
    text-align: center;
    color: #fff;
    margin: -10px auto 20px;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
}
.home p {
    text-align: center;
    color: #2a2a2a;
    font-size: 15px;
    margin: 32px 18% 83px;
}
.portfolio {
    margin-bottom: 100px;
}
.portfolio-tab {
	width: 960px;
	margin: 0 auto;
}
.portfolio h1 {
    text-align: center;
    color: #2a2a2a;
    font-size: 43px;
    font-weight: 300;
    margin: 56px auto 34px;
}
.portfolio-menu {
    width: 260px;
}
.portfolio-menu ul {
    padding: 0;
    margin: 0;
}
.portfolio-menu ul li {
    float: left;
    list-style:none;
    padding: 7px 14px;
    cursor: pointer;
    color: #4a4a4a;
    font-size: 13px;
    margin-bottom: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.portfolio-menu ul li:hover {
    background-color: #FFAE00;
    color: #fff;
    border-radius: 1px;
}
.nav-selected {
    background-color: #FFAE00;
    color: #fff !important;
    border-radius: 1px;
}
.photo-tab ul {
    padding: 0;
    margin: 0;
}
.photo-articles {
    width: 303px;
    height: 180px;
    float: left;
    margin: 8px;
}
.photo-articles a {
    float: left;
    width: 100%;
    height: 180px;
}
.photo-articles a img {
    width: 100%;
    height: auto;
    max-height: 180px;
    border: 1px solid #232323;
}
.thumbs {
    text-align: center;
}
.thumbs:after {
    content: " ";
    display: block;
    clear: both;
}
.thumbs a {
    display: inline-block;
    margin: 0 20px 0 0;
}
thumbs img
{
    width: auto;
    height: 170px;
}
.thumbs img,
.gallery img {
    border: 1px solid #ccc;
    background: #fff;
    padding: 9px;
}
.thumbs a:hover img {
    border-color: #999;
}
.gallery {
    height: 300px;
    padding: 30px 0;
}
.slider {
    height: 475px;
}
.links {
    padding: 30px 50px;
}
.links a {
    line-height: 30px;
}

.hidden {
    display: none;
}



.resume-inner {
    margin: 0 auto;
    width: 90%;
}
.resume-inner h1 {
    color: #fff;
    font-size: 43px;
    font-weight: 300;
    margin: 62px auto;
    text-align: center;
}
.resume {
    z-index: 20;
}
.skill-achievement > div  > div{
    margin-bottom: 60px;
    height: auto;
}
.skills-meter {
    width: 135px;
    height: 185px;
    margin: 10px 33px;
    float: left;
}
.circliful {
    position: relative; 
    margin-left: 10px;
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
    color: #fff;
}

.circle-info, .circle-info-half {
    color: #999;
}

.circliful .fa {
    margin: -10px 3px 0 3px;
    position: relative;
    bottom: 4px;
}
.skills-meter p {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

/* Work Experience */
expe {
    z-index: 16;
}
.work-experience {
    margin: 0 auto;
    width: 80%;
}
.work-experience > div {
    margin-bottom: 124px;
}
.work-exp {
    color: #fff;
    float: left;
    height: 70px;
    margin: 10px 12%;
    width: 224px;
}
.work-exp h2 {
    margin: 0 0 0 10px;
   font-size: 18px;
   font-weight: 700;
   position: relative;
   cursor: pointer;
   -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.work-exp h2 p {
    margin: 0;
}
.work-exp h2:hover {
    color: #FFAE00;
}
.work-exp h2 p {
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
}
.work-exp h2 span {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    display: none;
    font-size: 13px;
    font-weight: 100;
    left: 50%;
    padding: 5px;
    position: absolute;
    top: -60%;
    width: 92px;
    
}
.work-exp h2:hover > .work-read {
    display: block;
}
.work-exp h3 {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 5px 10px;
}
.work-exp h5 {
    margin: 0 0 0 10px;
   font-size: 13px;
   font-weight: 200;
}
.w-exp-cont-main {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1000;
    top:0;
    display: none;
}
.w-exp-cont {
    position: fixed;
    width: 80%;
    height: auto;
    background-color: rgba(0,0,0,0.9);
    z-index: 1000;
    top:10%;
    left: 10%;
}
.w-exp-header {
    width: 100%;
    position: relative;
    float: left;
    height: 100px;
}
.w-exp-name {
    width: 80%;
    float: left;
}
.w-exp-name h1 {
    text-align: center;
    color: #DFF2BF;
    font-size: 35px;
    margin-top: 20px;
    font-weight: 300;
}
.w-exp-close h2 {
    text-align: center;
    color: #DFF2BF;
    font-size: 25px;
    padding: 15px;
    cursor: pointer;
}
.exp-webswats, .exp-perform {
    display: none;
}
.w-exp-details {
    color: #fff;
    padding: 0 100px 50px;
    overflow: auto;
    height: 400px;
}
.w-exp-details ul li {
    list-style-type: circle;
}
.globe {
    background-image: url(" ../images/icons/globe.png");
    height: 745px;
    left: 50%;
    margin-left: -372.5px;
    margin-top: -372.5px;;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 745px;
    z-index: 0;
    -webkit-animation:spin 100s linear infinite;
    -moz-animation:spin 100s linear infinite;
    animation:spin 100s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/* Contact Form */

.contact {
    background-image: url(../images/yellow-wallpaper.jpg);
    background-size: 100% auto;
    background-position: center 363%;
}

.contact-form {
    width: 485px;
    margin: 0 auto 26px;
    height: auto;
    min-height: 200px;
}
.contact-form h1 {
    text-align: center;
    font-size: 43px;
    font-weight: 300;
    margin: 43px auto 10px;
}
.social-icons {
    width: 152px;
    margin: 0 auto;
    padding: 0;
}
.social-icons li {
    float: left;
    margin: 0 3px;
    list-style:none;
    width: 32px;
    height: 32px;
}
.social-icons li a {
    float: left;
    width: 32px;
    height: 32px;
    background-position: 0 0;
    background-size: 100% auto;
}
.facebook {
    background-image: url(../images/facebook_b.png);
}
.linkedin {
    background-image: url(../images/linkedin_b.png);
}
.instagram {
    background-image: url(../images/insta_b.png);
}
.twitter {
    background-image: url(../images/twitter_b.png);
}

.facebook:hover {
    background-image: url(../images/facebook_w.png);
}
.linkedin:hover {
    background-image: url(../images/linkedin_w.png);
}
.instagram:hover {
    background-image: url(../images/insta_w.png);
}
.twitter:hover {
    background-image: url(../images/twitter_w.png);
}
.address h3 {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 2px;
    margin-top: 30px;
    text-align: center;
}
.address p {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 2px;
}
.input {
    background-color: #ab7500;
    border: 0 none;
    color: #ffae00;
    font-size: 15px;
    height: 32px;
    margin: 3px 1px;
    padding: 4px 10px;
}
.input-text {
    background-color: #ab7500;
    border: 0 none;
    color: #ffae00;
    font-size: 17px;
    margin: 3px 1px;
    padding: 4px 12px;
      width: 99%;
}
.contact-form form {
    margin: 0 auto 0;
}
.contact-form form button {
    margin: 17px auto 39px 35%;
    padding: 7px 40px;
    color: #fff;
    background-color: #000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}
.contact-form form button:hover {
    background-color: #171717;
}
.contact-map {
    position: relative;
    height: 430px;
}
.google-maps {
    height: 100%;
    overflow: hidden;
    position: absolute;
}
.google-maps div#map {
    height: 100% !important;
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important;
}
footer {
    float: left;
    position: relative;
    width: 100%;
    height: auto;
}
footer p {
    text-align: center;
    color: #3a3a3a;
    margin: 5px auto;
    font-size: 13px;
}
@media screen and (max-width:960px) {
	header {
		width: 100%
	}
	.slide-menu {
		width: 100%;
	}
	.home h1 {
		font-size: 44px;
		margin: 11px auto 0;
	}
	.grid figure { 
		width: 48%;
		height: 250px;
	}
	.portfolio-tab {
		width: 100%;
	}
	.skill-achievement > .width-83p {
		width: 100%;
	}
}
@media screen and (max-width:630px) {
        .my-name h1 {
            font-size: 26px;
        }
        .home h1 {
            font-size: 32px;
        }
        .home h5 {
            font-size: 23px;
        }
        .grid figure { 
                width: 98%;
                height: 250px;
        }
        .resume-inner h1 {
                font-size: 32px;
        }
        .menu-items ul {
            float: right;
            margin: 0;
            padding: 0;
            width: 80%;
        }
        .menu-items ul li {
            width: 100%;
            border-bottom: 1px solid #fff;
            z-index: 98;
        }
        .menu-items ul li a {
            width: 100%;
            text-align: center;
            padding: 17px 14px;
        }
        .dropdown ul {
            z-index: 99;
            opacity: 0.8;
            width: 100%;
        }
        .dropdown:hover {
            margin-bottom: 60px;
        }
        .w-exp-cont {
            width: 100%;
            height: 100%;
            top:0;
            left: 0;
        }
        .w-exp-details {
            padding: 0 50px;
        }
        .contact-form {
            width: 100%;
        }
}
@media screen and (max-width:480px) {
    .my-name h1 {
        font-size: 23px;
        padding: 0 5px 0 0;
    }
    .my-profession h3 {
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 2px;
        margin: 25px 0 0;
        padding: 6px 0 0;
    }
    .my-name {
        margin: 20px 7px 20px 15px;
    }
    .work-experience {
        margin: 0 auto;
        width: 75%;
    }
    .skills-meter {
        margin: 10px 28%;
    }
    
}
@media screen and (max-width:310px) {
    .skills-meter {
        margin: 10px 10%;
    }
}

