<ul id="example-1" class="alt_content thumbs pull-left full-width height-300">
    <li class="photo-articles"><a href="images/photographs/IMG_20141118_172738.jpg"><img src="images/photographs/IMG_20141118_172738.jpg" /></a></li>
    <li class="photo-articles"><a href="images/photographs/IMG_20141118_173034.jpg"><img src="images/photographs/IMG_20141118_173034.jpg" /></a></li>
    <li class="photo-articles"><a href="images/photographs/IMG_20141118_173205.jpg"><img src="images/photographs/IMG_20141118_173205.jpg" /></a></li>
    <li class="photo-articles"><a href="images/photographs/IMG_20141118_173312.jpg"><img src="images/photographs/IMG_20141118_173312.jpg" /></a></li>
    <li class="photo-articles"><a href="images/photographs/IMG_20141118_173444.jpg"><img src="images/photographs/IMG_20141118_173444.jpg" /></a></li>
    <li class="photo-articles"><a href="images/photographs/IMG_20141118_173558.jpg"><img src="images/photographs/IMG_20141118_173558.jpg" /></a></li>
    <li class="photo-articles"><a href="images/photographs/IMG_20141121_213012.jpg"><img src="images/photographs/IMG_20141121_213012.jpg" /></a></li>
    <li class="photo-articles"><a href="images/photographs/IMG_20141122_221343.jpg"><img src="images/photographs/IMG_20141122_221343.jpg" /></a></li>
    <li class="photo-articles"><a href="images/photographs/IMG_20141122_222925.jpg"><img src="images/photographs/IMG_20141122_222925.jpg" /></a></li>
    <li class="photo-articles"><a href="images/photographs/IMG_20141215_191957.jpg"><img src="images/photographs/IMG_20141215_191957.jpg" /></a></li>
    <li class="photo-articles"><a href="images/photographs/IMG_20150107_152951.jpg"><img src="images/photographs/IMG_20150107_152951.jpg" /></a></li>
    <li class="photo-articles"><a href="images/photographs/IMG_20150107_153318.jpg"><img src="images/photographs/IMG_20150107_153318.jpg" /></a></li>
    <li class="photo-articles"><a href="images/photographs/IMG_20150502_165912.jpg"><img src="images/photographs/IMG_20150502_165912.jpg" /></a></li>
    <li class="photo-articles"><a href="images/photographs/IMG_20150601_070428.jpg"><img src="images/photographs/IMG_20150601_070428.jpg" /></a></li>
</ul>